USE [master]
GO
/****** Object:  Database [DiDongTH]    Script Date: 23/12/2021 19:01:08 ******/
CREATE DATABASE [DiDongTH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DiDongTH', FILENAME = N'D:\Thien\filephammen\sql\MSSQL15.SQLEXPRESS\MSSQL\DATA\DiDongTH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DiDongTH_log', FILENAME = N'D:\Thien\filephammen\sql\MSSQL15.SQLEXPRESS\MSSQL\DATA\DiDongTH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DiDongTH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DiDongTH]
GO
/****** Object:  Table [dbo].[DiDong]    Script Date: 23/12/2021 19:01:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiDong](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[tendd] [nvarchar](50) NOT NULL,
	[thongsokythuat] [nvarchar](255) NULL,
	[gia] [bigint] NULL,
	[ngaynhap] [date] NULL,
	[noisanxuat] [nvarchar](50) NULL,
 CONSTRAINT [PK_DiDong] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
